// Fonts
// ==================
$font_barlow: 'Barlow', sans-serif;

// Colors
// ==================
$blue_dark: #0f101e;
$blue_light: #1d1e31;
$yellow: #f8dc59;
$grey_light: #f1f1f1;
$grey_ultalight: #f9f9f9;
$grey_dark: #383838;
$grey_body: #212529;


$color_primary: $blue_dark;
$color_secondary: $yellow;
$txt_dark: $blue_dark;