{% extends "base.twig" %}

{% block content %}
    <div class="hero delay-1" data-geometric-header data-anim-reveal-page="img-left bg-white">
        {% include 'homepage/homepage-hero.twig'%}
    </div>
    <div class="sections">
        {% include 'homepage/homepage-parts.twig'%}
    </div>
{% endblock %}