{% extends "base.twig" %}

{% block content %}
    <div class="hero" data-geometric-header>
        {% include 'homepage/homepage-hero.twig'%}
    </div>
    <div class="sections">
        {% include 'homepage/homepage-parts.twig'%}
    </div>
{% endblock %}