	<div class="wrap icon-admin-wrap">
        <div class="icon-header">
            <h1 class="page-title"><span class="icon-title dashicons-before dashicons-admin-generic"></span> Listes des icons</h1>
        </div>

        <div class="icon-style">
            <h3 class="title-style">Style 1</h3>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-laptop"></i>
                </div>
                <span class="icon-name js-content">laptop</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-desktop"></i>
                </div>
                <span class="icon-name js-content">desktop</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-phone"></i>
                </div>
                <span class="icon-name js-content">phone</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-adjustments"></i>
                </div>
                <span class="icon-name js-content">adjustments</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-envelope"></i>
                </div>
                <span class="icon-name js-content">envelope</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-gears"></i>
                </div>
                <span class="icon-name js-content">gears</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-lightbulb"></i>
                </div>
                <span class="icon-name js-content">lightbulb</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-layers"></i>
                </div>
                <span class="icon-name js-content">layers</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-tools-2"></i>
                </div>
                <span class="icon-name js-content">tools-2</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-mic"></i>
                </div>
                <span class="icon-name js-content">mic</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-profile-male"></i>
                </div>
                <span class="icon-name js-content">profile-male</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-map-pin"></i>
                </div>
                <span class="icon-name js-content">map-pin</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-chat1"></i>
                </div>
                <span class="icon-name js-content">chat1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-heart"></i>
                </div>
                <span class="icon-name js-content">heart</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-refresh"></i>
                </div>
                <span class="icon-name js-content">refresh</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-happy"></i>
                </div>
                <span class="icon-name js-content">happy</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
		    </div>                                                                                                                                                                                                                        
        </div>

        <div class="icon-style">
            <h3 class="title-style">Style 2</h3>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-accordion"></i>
                </div>
                <span class="icon-name js-content">accordion</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-acoustic-guitar"></i>
                </div>
                <span class="icon-name js-content">acoustic-guitar</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-banjo"></i>
                </div>
                <span class="icon-name js-content">banjo</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cassette1"></i>
                </div>
                <span class="icon-name js-content">cassette1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cassette-player"></i>
                </div>
                <span class="icon-name js-content">cassette-player</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cd4"></i>
                </div>
                <span class="icon-name js-content">cd4</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cello"></i>
                </div>
                <span class="icon-name js-content">cello</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-conga"></i>
                </div>
                <span class="icon-name js-content">conga</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cymbal"></i>
                </div>
                <span class="icon-name js-content">cymbal</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-sound-waves"></i>
                </div>
                <span class="icon-name js-content">sound-waves</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-levels"></i>
                </div>
                <span class="icon-name js-content">levels</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-sound1"></i>
                </div>
                <span class="icon-name js-content">sound1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-drums"></i>
                </div>
                <span class="icon-name js-content">drums</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-drums1"></i>
                </div>
                <span class="icon-name js-content">drums1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-electric-guitar"></i>
                </div>
                <span class="icon-name js-content">electric-guitar</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-flute"></i>
                </div>
                <span class="icon-name js-content">flute</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-forward"></i>
                </div>
                <span class="icon-name js-content">forward</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-gong"></i>
                </div>
                <span class="icon-name js-content">gong</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-harmonica"></i>
                </div>
                <span class="icon-name js-content">harmonica</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-harp"></i>
                </div>
                <span class="icon-name js-content">harp</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-headphones2"></i>
                </div>
                <span class="icon-name js-content">headphones2</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-ipod1"></i>
                </div>
                <span class="icon-name js-content">ipod1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-maracas"></i>
                </div>
                <span class="icon-name js-content">maracas</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-metronome"></i>
                </div>
                <span class="icon-name js-content">metronome</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone8"></i>
                </div>
                <span class="icon-name js-content">microphone8</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone9"></i>
                </div>
                <span class="icon-name js-content">microphone9</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-mp3-file"></i>
                </div>
                <span class="icon-name js-content">mp3-file</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-cloud"></i>
                </div>
                <span class="icon-name js-content">music-cloud</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file6"></i>
                </div>
                <span class="icon-name js-content">music-file6</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-sheet"></i>
                </div>
                <span class="icon-name js-content">music-sheet</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-musical-note"></i>
                </div>
                <span class="icon-name js-content">musical-note</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-musical-note1"></i>
                </div>
                <span class="icon-name js-content">musical-note1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-mute2"></i>
                </div>
                <span class="icon-name js-content">mute2</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-pan"></i>
                </div>
                <span class="icon-name js-content">pan</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-piano3"></i>
                </div>
                <span class="icon-name js-content">piano3</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-play"></i>
                </div>
                <span class="icon-name js-content">play</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-radio2"></i>
                </div>
                <span class="icon-name js-content">radio2</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-record-player"></i>
                </div>
                <span class="icon-name js-content">record-player</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-repeat"></i>
                </div>
                <span class="icon-name js-content">repeat</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-rewind"></i>
                </div>
                <span class="icon-name js-content">rewind</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-saxophone"></i>
                </div>
                <span class="icon-name js-content">saxophone</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-shuffle"></i>
                </div>
                <span class="icon-name js-content">shuffle</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-backward"></i>
                </div>
                <span class="icon-name js-content">backward</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-forward1"></i>
                </div>
                <span class="icon-name js-content">forward1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-key"></i>
                </div>
                <span class="icon-name js-content">key</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-sound2"></i>
                </div>
                <span class="icon-name js-content">sound2</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-speaker1"></i>
                </div>
                <span class="icon-name js-content">speaker1</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-stop"></i>
                </div>
                <span class="icon-name js-content">stop</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-tambourine"></i>
                </div>
                <span class="icon-name js-content">tambourine</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-triangle"></i>
                </div>
                <span class="icon-name js-content">triangle</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-trombone"></i>
                </div>
                <span class="icon-name js-content">trombone</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-trumpet"></i>
                </div>
                <span class="icon-name js-content">trumpet</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-tuba"></i>
                </div>
                <span class="icon-name js-content">tuba</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-vinyl-record"></i>
                </div>
                <span class="icon-name js-content">vinyl-record</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-violin"></i>
                </div>
                <span class="icon-name js-content">violin</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-volume-down"></i>
                </div>
                <span class="icon-name js-content">volume-down</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-volume-up"></i>
                </div>
                <span class="icon-name js-content">volume-up</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-vynil"></i>
                </div>
                <span class="icon-name js-content">vynil</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-walkman"></i>
                </div>
                <span class="icon-name js-content">walkman</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-xylophone"></i>
                </div>
                <span class="icon-name js-content">xylophone</span>
                <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>


        </div>

        <div class="icon-style">
            <h3 class="title-style">Style 3</h3>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-record"></i>
                </div>                      
                    <span class="icon-name js-content">record</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-album"></i>
                </div>                      
                    <span class="icon-name js-content">album</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music"></i>
                </div>                      
                    <span class="icon-name js-content">music</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music1"></i>
                </div>                      
                    <span class="icon-name js-content">music1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-album"></i>
                </div>                      
                    <span class="icon-name js-content">music-album</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-album1"></i>
                </div>                      
                    <span class="icon-name js-content">album1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-album2"></i>
                </div>                      
                    <span class="icon-name js-content">album2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone"></i>
                </div>                      
                    <span class="icon-name js-content">microphone</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note"></i>
                </div>                      
                    <span class="icon-name js-content">music-note</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note1"></i>
                </div>                      
                    <span class="icon-name js-content">music-note1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone1"></i>
                </div>                      
                    <span class="icon-name js-content">microphone1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music2"></i>
                </div>                      
                    <span class="icon-name js-content">music2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-karaoke"></i>
                </div>                      
                    <span class="icon-name js-content">karaoke</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-book"></i>
                </div>                      
                    <span class="icon-name js-content">book</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-book1"></i>
                </div>                      
                    <span class="icon-name js-content">book1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone2"></i>
                </div>                      
                    <span class="icon-name js-content">microphone2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music3"></i>
                </div>                      
                    <span class="icon-name js-content">music3</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-piano"></i>
                </div>                      
                    <span class="icon-name js-content">piano</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cd"></i>
                </div>                      
                    <span class="icon-name js-content">cd</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cd1"></i>
                </div>                      
                    <span class="icon-name js-content">cd1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cd2"></i>
                </div>                      
                    <span class="icon-name js-content">cd2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cd-player"></i>
                </div>                      
                    <span class="icon-name js-content">cd-player</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-chat"></i>
                </div>                      
                    <span class="icon-name js-content">chat</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music4"></i>
                </div>                      
                    <span class="icon-name js-content">music4</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music5"></i>
                </div>                       
                    <span class="icon-name js-content">music5</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-computer"></i>
                </div>                      
                    <span class="icon-name js-content">computer</span>                     
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-controls"></i>
                </div>                       
                    <span class="icon-name js-content">controls</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-device"></i>
                </div>                       
                    <span class="icon-name js-content">device</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-disco-ball"></i>
                </div>                       
                    <span class="icon-name js-content">disco-ball</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-distribution"></i>
                </div>                       
                    <span class="icon-name js-content">distribution</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-download"></i>
                </div>                       
                    <span class="icon-name js-content">download</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-ear-plug"></i>
                </div>                       
                    <span class="icon-name js-content">ear-plug</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>

            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-equalizer"></i>
                </div>                       
                    <span class="icon-name js-content">equalizer</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music6"></i>
               </div>                       
                    <span class="icon-name js-content">music6</span>            
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file"></i>
                </div>                       
                    <span class="icon-name js-content">music-file</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file1"></i>
                </div>                       
                    <span class="icon-name js-content">music-file1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file2"></i>
                </div>                       
                    <span class="icon-name js-content">music-file2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file3"></i>
                </div>                       
                    <span class="icon-name js-content">music-file3</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-folder"></i>
                </div>                       
                    <span class="icon-name js-content">folder</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-add"></i>
                </div>                      
                    <span class="icon-name js-content">add</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music7"></i>
                </div>                       
                    <span class="icon-name js-content">music7</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-folder1"></i>
                </div>                       
                    <span class="icon-name js-content">folder1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music8"></i>
                </div>                       
                    <span class="icon-name js-content">music8</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-headphones"></i>
                </div>                       
                    <span class="icon-name js-content">headphones</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-headphones1"></i>
                </div>                       
                    <span class="icon-name js-content">headphones1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-headphone"></i>
                </div>                       
                    <span class="icon-name js-content">headphone</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-ipad"></i>
                </div>                       
                    <span class="icon-name js-content">ipad</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music9"></i>
                </div>                       
                    <span class="icon-name js-content">music9</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file4"></i>
                </div>                       
                    <span class="icon-name js-content">music-file4</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music10"></i>
                </div>                       
                    <span class="icon-name js-content">music10</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-location"></i>
                </div>                       
                    <span class="icon-name js-content">location</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music11"></i>
                </div>                       
                    <span class="icon-name js-content">music11</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone3"></i>
                </div>                       
                    <span class="icon-name js-content">microphone3</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-sing"></i>
                </div>                       
                    <span class="icon-name js-content">sing</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone4"></i>
                </div>                       
                    <span class="icon-name js-content">microphone4</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone5"></i>
                </div>                       
                    <span class="icon-name js-content">microphone5</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-mike"></i>
                </div>                       
                    <span class="icon-name js-content">mike</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>

            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music12"></i>
                </div>                       
                    <span class="icon-name js-content">music12</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-transfer"></i>
                </div>                       
                    <span class="icon-name js-content">transfer</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-transfer1"></i>
                </div>                       
                    <span class="icon-name js-content">transfer1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-click"></i>
                </div>                       
                    <span class="icon-name js-content">click</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-audiobook"></i>
                </div>                       
                    <span class="icon-name js-content">audiobook</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cd3"></i>
                </div>                       
                    <span class="icon-name js-content">cd3</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-disc"></i>
                </div>                       
                    <span class="icon-name js-content">music-disc</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-files"></i>
                </div>                       
                    <span class="icon-name js-content">music-files</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-transfer2"></i>
                </div>                       
                    <span class="icon-name js-content">transfer2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-folder2"></i>
                </div>                       
                    <span class="icon-name js-content">folder2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone6"></i>
                </div>                       
                    <span class="icon-name js-content">microphone6</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-microphone7"></i>
                </div>                       
                    <span class="icon-name js-content">microphone7</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music13"></i>
                </div>                       
                    <span class="icon-name js-content">music13</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note2"></i>
                </div>                       
                    <span class="icon-name js-content">music-note2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note3"></i>
                </div>                       
                    <span class="icon-name js-content">music-note3</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music14"></i>
                </div>                       
                    <span class="icon-name js-content">music14</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note4"></i>
                </div>                       
                    <span class="icon-name js-content">music-note4</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note5"></i>
                </div>                       
                    <span class="icon-name js-content">music-note5</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-note6"></i>
                </div>                       
                    <span class="icon-name js-content">music-note6</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-player"></i>
                </div>                       
                    <span class="icon-name js-content">music-player</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-player1"></i>
                </div>                       
                    <span class="icon-name js-content">music-player1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-ipod"></i>
                </div>                       
                    <span class="icon-name js-content">ipod</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-profile"></i>
                </div>                       
                    <span class="icon-name js-content">profile</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-system"></i>
                </div>                       
                    <span class="icon-name js-content">music-system</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-mute"></i>
                </div>                       
                    <span class="icon-name js-content">mute</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-mute1"></i>
                </div>                       
                    <span class="icon-name js-content">mute1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-note"></i>
                </div>                       
                    <span class="icon-name js-content">note</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-note1"></i>
                </div>                       
                    <span class="icon-name js-content">note1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-file5"></i>
                </div>                       
                    <span class="icon-name js-content">music-file5</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-notepad"></i>
                </div>                       
                    <span class="icon-name js-content">notepad</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-note2"></i>
                </div>                       
                    <span class="icon-name js-content">note2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music-notes"></i>
                </div>                       
                    <span class="icon-name js-content">music-notes</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-call"></i>
                </div>                       
                    <span class="icon-name js-content">call</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-piano1"></i>
                </div>                       
                    <span class="icon-name js-content">piano1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-piano2"></i>
                </div>                       
                    <span class="icon-name js-content">piano2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-radio"></i>
                </div>                       
                    <span class="icon-name js-content">radio</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-radio1"></i>
                </div>                       
                    <span class="icon-name js-content">radio1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-remove"></i>
                </div>                       
                    <span class="icon-name js-content">remove</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-search"></i>
                </div>                       
                    <span class="icon-name js-content">search</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-search1"></i>
                </div>                    
                    <span class="icon-name js-content">search1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music15"></i>
                </div>                       
                    <span class="icon-name js-content">music15</span>                 
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music16"></i>
                </div>                    
                    <span class="icon-name js-content">music16</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music17"></i>
                </div>                    
                    <span class="icon-name js-content">music17</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-sound"></i>
                </div>                    
                    <span class="icon-name js-content">sound</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-speaker"></i>
                </div>                    
                    <span class="icon-name js-content">speaker</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-spread"></i>
                </div>                    
                    <span class="icon-name js-content">spread</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music18"></i>
                </div>                   
                    <span class="icon-name js-content">music18</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>    
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-cassette"></i>
                </div>                    
                    <span class="icon-name js-content">cassette</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-ticket"></i>
                </div>                    
                    <span class="icon-name js-content">ticket</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>    
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-tv"></i>
                </div>
                    <span class="icon-name js-content">tv</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>    
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-upload"></i>
                </div>
                    <span class="icon-name js-content">upload</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
             <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-user"></i>
                </div>
                    <span class="icon-name js-content">user</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-user1"></i>
                </div>
                    <span class="icon-name js-content">user1</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-user2"></i>
                </div>
                    <span class="icon-name js-content">user2</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-user3"></i>
                </div>
                    <span class="icon-name js-content">user3</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-users"></i>
                </div>
                    <span class="icon-name js-content">users</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-volume"></i>
                </div>
                    <span class="icon-name js-content">volume</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-web"></i>
                </div>
                    <span class="icon-name js-content">web</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-jack"></i>
                </div>
                    <span class="icon-name js-content">jack</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music19"></i>
                </div>
                    <span class="icon-name js-content">music19</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   
            <div class="icon-emp">
                <div class="wrap-icon">
                    <i class="icon-music20"></i>
                </div>
                    <span class="icon-name js-content">music20</span>
                    <div class="copy-code"><button class="button-primary btn-copy js-copy">Copier le nom</button></div>
            </div>   

        </div>

	</div>