.btn {
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
}
.btn-primary {
    background-color: $color_secondary;
    border-color: $color_secondary;
    color: $color_primary;
    &:hover {
        background-color: transparent;
        color: $color_secondary;
        border-color: $color_secondary;
    }
    &:focus {
        background-color: transparent;
        color: $color_secondary;
        border-color: $color_secondary;
        box-shadow: initial;
    }
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: transparent;
    color: $color_secondary;
    border-color: $color_secondary;
}
.btn-secondary {
    background-color: $color_primary;
    border-color: $color_primary;
    color: #fff;
    &:hover {
        background-color: transparent;
        color: $color_primary;
        border-color: $color_primary;
    }
    &:focus {
        background-color: transparent;
        color: $color_primary;
        border-color: $color_primary;
        box-shadow: initial;
    }
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
    background-color: transparent;
    color: $color_primary;
    border-color: $color_primary;
}
.btn-shadow {
    box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.4) !important;
}
.btn-scroll {
    color: $color_primary;
    background: $color_secondary;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 50%;
    &:hover {
        color: $color_primary;
    }
}
.btn-link {
    position: relative;
    display: inline-block;
    padding-bottom: 0.2rem;
    &::before {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        opacity: 0;
        background-color: #fff;
        transition: 0.2s ease-in-out;
        transform-origin: 0 50%;
        bottom: 0;
        left: 0;
    }
    &:hover {
        text-decoration: none;
        &::before {
            transform: scaleX(1);
            opacity: 1;
        }
    }
}