.cursor {
    position: fixed;
    pointer-events: none;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    .cursor-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .cursor-circle {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;
            background-color: $color_secondary;
            opacity: 0.5;
            border-radius: 50%;
            transition: 0.3s ease-in-out;
        }
        .cursor-label {
            font-size: 1rem;
            font-weight: 700;
            z-index: 1;
        }
    }
    &.is-active {
        .cursor-circle {
            transform: scale(3);
            opacity: 0.2;
        }
    }
    &.is-active.is-small {
        .cursor-circle {
            transform: scale(1.5);
            opacity: 0.2;
        }
    }
    &.is-small {
        .cursor-circle {
            transform: scale(1.5);
            opacity: 0.2;
        }
    }
    &.is-active.has-label {
        .cursor-circle {
            opacity: 0.8;
        }
    }
    &.is-color {
        .cursor-circle {
            background-color: $color_primary;
        }
    }
}

@include maxwidth(md) {
    .cursor {
        display: none;
    }

}