.player {
    /** style player **/
    background-color: $grey_light;
    max-width: 410px;
    min-height: 480px;
    box-shadow: 0px 15px 35px -5px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
    .wrap-cover {
        background-color: $color_secondary;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 2.5rem;
    }
    .player-cover {
        max-width: 300px;
        height: 300px;
        position: relative;
        border-radius: 10px;
        margin: 0 auto;
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.5);
        z-index: 1;
        .player-cover-item {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 10px;
            z-index: 1;
        }
    }
    .player-item {
        padding: 2.5rem;
        position: relative;
        .item-top {
            display: flex;
            justify-content: space-between;
            position: relative;
            .item-name p {
                font-size: 0.75rem;
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            background-color: $grey_light;
            width: 100%;
            height: 90px;
            transform: skewY(-8deg) translateY(-45px) scale(1.2);
            border-radius: 50%;
        }
    }
     /** style control player **/
    .mejs__container {
        width: 100% !important;
        min-width: auto !important;
    }
    .mejs__offscreen {
        border: 0;
        clip: rect(1px,1px,1px,1px);
        -webkit-clip-path: inset(50%);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        word-wrap: normal;
    }
    .mejs__controls {
        display: flex;
        flex-direction: column-reverse;
        .mejs__playpause-button {
            top: 0;
            position: absolute;
            transform: translate(0, -250%);
            z-index: 1;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            button {
                width: 95px;
                height: 95px;
                border: 5px solid #fff;
                border-radius: 50%;
                font-size: 2.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background-color: transparent;
                &::before {
                    content: "\f04b";
                    font-family: "Font Awesome 5 Free";
                    font-weight: bold;
                    margin-left: 5px;
                    transition: 0.2s ease-in-out;
                }
                &:focus {
                    outline: none;
                }
            }
            &.mejs__pause {
                button {
                    &::before {
                        content: "\f04c";
                        margin-left: 0;
                        transition: 0.2s ease-in-out;
                    }
                }
                &.anim-pulse {
                    button {
                        &::after {
                            content:'';
                            width: 110px;
                            height: 110px;
                            border-radius: 50%;
                            position: absolute;
                            background-color: rgba(255, 255, 255, 0.5);
                            z-index: -1;
                            animation: marker-pulse 2.5s infinite ease-out;
                        }  
                    }
                }
            }
        }
        .mejs__loop-button {
            position: absolute;
            top: 40px;
            right: 40px;
            button {
                display: flex;
                background: #fff;
                width: 40px;
                height: 40px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                transform: translateY(0);
                font-size: 1rem;
                border: none;
                outline: none;
                padding: 0;
                &::before {
                    content: "\f2f9";
                    font-family: "Font Awesome 5 Free";
                    font-weight: bold;
                }
            }
            &.mejs__loop-on {
                button {
                    background-color: $color_secondary;
                    transform: translateY(-2px);
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
                }
            }
            &:focus {
                outline: none;
            }
        }
        .mejs__time {
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            &:focus {
                outline: none;
            }
        }
        .mejs__time-rail {
            width: 100%;
            margin: 0;
            height: 6px;
            padding-top: 0;
            .mejs__time-total {
                background-color: #cecece;
            }
            span {
                display: block;
                width: 100%;
                height: 6px;
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                &:focus {
                    border: none;
                    outline: none;
                }
            }
            .mejs__time-float {
                display: none !important;
            }
            .mejs__time-loaded {
                left: 50px;
                -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 0;
                -ms-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transition: all .15s ease-in;
                transition: all .15s ease-in;
                width: 100%;
                background: transparent;
            }
            .mejs__time-current {
                background: $color_primary none repeat scroll 0 0;
            }
            .mejs__time-handle, .mejs__time-hovered {
                display: none !important;
            }
        }
        &:focus {
            outline: none;
        }
    }
}