// section
// ==================
section {
    padding: 8rem 0;
}

// last sound
// ==================
.last-sound {
    position: relative;
    overflow: hidden;
    .geometric-last-sound-1 {
        top: 30%;
        right: 10%;
    }
    .geometric-last-sound-2 {
        top: 48%;
        left: 22%;
    }
    .geometric-last-sound-3 {
        top: 45%;
        left: 18%;
    }
    .geometric-last-sound-4 {
        top: 62%;
        right: 18%;
    }
    .geometric-last-sound-5 {
        top: 20%;
        right: -170px;
        opacity: 0.4;
        z-index: -1;
    }
}

// page productions
// ==================
.sound {
    padding-bottom: 6.5rem;
    overflow: hidden;
    .player {
        margin-bottom: 2.5rem;
    }
}