// section
// ==================
section {
    padding: 8rem 0;
}

// last sound
// ==================
.last-sound {
    position: relative;
    overflow: hidden;
    .geometric-last-sound-1 {
        top: 30%;
        right: 10%;
    }
    .geometric-last-sound-2 {
        top: 48%;
        left: 22%;
    }
    .geometric-last-sound-3 {
        top: 45%;
        left: 18%;
    }
    .geometric-last-sound-4 {
        top: 62%;
        right: 18%;
    }
    .geometric-last-sound-5 {
        top: 20%;
        right: -170px;
        z-index: -1;
    }
}

// page productions
// ==================
.sound {
    padding-bottom: 6.5rem;
    overflow: hidden;
    .player {
        margin-bottom: 2.5rem;
    }
}

@include maxwidth(xs) {
    section {
        padding: 4rem 0;
    }
    .last-sound {
        .wrapper-geometric[class*="geometric-last-sound-"] {
            display: none;
        }
    }
    .sound {
        padding-bottom: 4rem;
        .wrap-player:last-child{
            .player {
                margin-bottom: 0;
            }
        }
    }
}

@include minmaxwidth(xs, md) {
    .last-sound {
        .wrapper-geometric {
            &.geometric-last-sound-2 {
                left: 5%;
            }
            &.geometric-last-sound-3 {
                left: 15%;
            }
            &.geometric-last-sound-4 {
                right: 15%;
            }
        }
    }
}